@import url(global.css);


nav {
  display: flex;
  justify-content: space-between;

  padding: 20px;

  line-height: 0;
}

#menu {
  display: flex;
  align-items: center;
  gap: 24px;

  padding: 4px;
}

#profile img {
  height: 40px;
  width: 40px;

  object-fit: cover;

  border-radius: 50%;
}

.bg-surface-color {
  background-color: var(--surface-color);
}