nav {
  display: flex;
  justify-content: space-between;

  padding: 20px 0;

  line-height: 0;
}

#logo{
  display: flex;
  align-items: center;
}

#menu {
  display: flex;
  align-items: center;
  gap: 24px;

  padding: 4px;
}

#profile img {
  height: 40px;
  width: 40px;

  object-fit: cover;

  border-radius: 50%;
}